@{
    ViewData["Title"] = "Genere Selezionato";
    var contenuti = ViewBag.Contenuti as List<Streamify.Models.Contenuto>;
    var query = ViewBag.Query as string;
}

<link rel="stylesheet" href="~/css/mostragenere.css" />

@if (contenuti != null && contenuti.Count > 0)
{
    <h1 class="text-center mt-5" style="text-transform:uppercase">RISULTATI PER: @query</h1>
}

<div id="main-content">
    <div class="scroller-container">
        @if (contenuti != null && contenuti.Count > 0)
        {
            <div class="contenuti-grid" data-genere="@contenuti[0].Genere" data-offset="0">
                @foreach (var contenuto in contenuti)
                {
                    <div class="locandina-container">
                        <img class="locandina" src="@contenuto.Locandina"
                             alt="@contenuto.Nome"
                             data-id="@contenuto.ID_Contenuto"
                             data-nome="@contenuto.Nome"
                             data-descrizione="@contenuto.Descrizione"
                             data-trailer-keyword="@contenuto.Nome"
                             onerror="this.onerror=null; this.src='/images/locandina_film_default.jpg';" />
                    </div>
                }
            </div>
        }
        else
        {
            <h1 class="text-center mt-5" style="text-transform:uppercase">NESSUN RISULTATO TROVATO PER: @query</h1>
        }

    </div>
</div>

<div id="search-results-container" style="display:none; padding: 20px;">
    <h2 class="genere-titolo" id="results-title"></h2>
    <div id="search-results" class="row-wrapper" data-genere="risultati" style="overflow-x: auto;"></div>
</div>


<div id="dettagli-contenuto" class="dettagli-popup" style="display: none;">
    <div class="dettagli-content">
        <button id="close-popup" class="close-popup">&times;</button>
        <h2 id="dettagli-titolo"></h2>
        <iframe class="bottom-three" id="dettagli-trailer" src="" frameborder="0" allow='autoplay' allowfullscreen></iframe>
        <p id="dettagli-descrizione"></p>
    </div>
</div>

<style>
    .bottom-three {
        margin-bottom: 2cm;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/MostraGenere.js"></script>
<script src="~/js/ricerca.js"></script>

